body{
    text-align: center;
    background: linear-gradient(4deg, #CDC1FF, #F5F0CD);
    /* background-color: #CDC1FF; */
    height: 100vh;
    /* color: chocolate; */
}

.btn{
    height: 250px;
    width:  250px;
    border: 4px solid black;
    font-size: x-large;
    /* border-radius: 18px; */
    /* margin: 2rem; */
    /* margin: 20px; */
    align-content: center;
}


.wrong{
    background-color: #FF2929;
}

.container{ 
    display: flex;
    justify-content: center;
}

.green{
    border-top-left-radius: 99%;
    background-color: #36BA98;
}

.red{
    border-bottom-left-radius: 99%;
    background-color: #E4003A;
}

.orange{
    background-color: #FC8F54;
    border-top-right-radius: 99%;
}

.purple{
    border-bottom-right-radius: 99%;
    background-color: #6D67E4;
    /* color: purple; */
}

.flash{
    background-color: antiquewhite;
}
.uflash{
    background-color: #11ff00;
}